@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 500px;">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Personal Library</h1>
        <p>Made by Antonio Hus | UBB IE 924</p>
    </div>
</div>